---
layout: default
title: Awards
---

{% for award in site.data.awards %}
    <div class="container">
        <div class="entry-title">
            {% if award.link %}
                <a href="{{ award.link }}">{{ award.name }}, {{ award.year }}</a>
            {% else %}
                {{ award.name }}, {{ award.year }}
            {% endif %}
        </div>
        <!-- show mentor's name if any -->
        {% assign mentor = award.mentor %}
        {% if mentor %}
            Mentor: 
            <a href="{{ site.data.research_labs[mentor].lab_url }}" 
            style="color: #007BFF; font-weight: bold;">
                {{ mentor }}
            </a>   
        {% endif %}
    </div>
{% endfor %}